name: Daily RSS Deduplication

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install feedparser beautifulsoup4 rapidfuzz

      - name: Run RSS script
        run: python rss_filter_tool.py

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Move results to output folder
        run: |
          STRIPPED_DATE=$(date +'%d%b%Y' | sed 's/[^a-zA-Z0-9]//g')
          mkdir -p output/Date_$STRIPPED_DATE
          mv Date_$STRIPPED_DATE/* output/Date_$STRIPPED_DATE/

      - name: Commit and push results
        run: |
          git add output/
          git add deduplication.json
          git commit -m "Add results for $(date +'%d %b %Y')" || echo "Nothing to commit"
          git push